pre {
    position: relative;
    padding-left: 5px;  /* Add some space on the left for line numbers */
    background-color: #f5f5f5;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 5px;
    text-align: left;
    vertical-align: top; 
}

  
  pre code {
    text-align: left;
    display: block;
    position: relative;
    padding-left: 5px;  /* Space for line numbers */
    font-family: 'Courier New', Courier, monospace;  /* Use monospace font */
    
  }
  
  .line-number {
    position: absolute;
    left: 0;
    width: 5px;
    text-align: right;
    padding-right: 5px;
    color: #988;
    user-select: none;  /* Prevent line numbers from being selected */
    vertical-align: top; 
  }
  
  